@font-face {
  font-family: "iconfont"; /* Project id 5089498 */
    src: url('/static/font/iconfont.woff2?t=1765806450769') format('woff2'),
       url('/static/font/iconfont.woff?t=1765806450769') format('woff'),
       url('/static/font/iconfont.ttf?t=1765806450769') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Sleeping:before {
  content: "\e944";
}

.icon-flash:before {
  content: "\e675";
}

.icon-phone:before {
  content: "\e725";
}

.icon-jubao:before {
  content: "\e652";
}

.icon-team:before {
  content: "\e60d";
}

.icon-link:before {
  content: "\e772";
}

.icon-document:before {
  content: "\e6f3";
}

.icon-feedback:before {
  content: "\e6fa";
}

.icon-mail:before {
  content: "\e70a";
}

.icon-warning:before {
  content: "\e682";
}

.icon-chat:before {
  content: "\e69d";
}

.icon-school:before {
  content: "\e811";
}

.icon-staroutline:before {
  content: "\e8bc";
}

.icon-chevronright:before {
  content: "\e61f";
}

.icon-star:before {
  content: "\e658";
}

.icon-informationoutline:before {
  content: "\e8f0";
}

.icon-cog:before {
  content: "\e627";
}

.icon-comment-outline:before {
  content: "\e6ca";
}

.icon-magnify:before {
  content: "\e7e0";
}

.icon-history:before {
  content: "\e81d";
}

.icon-plus:before {
  content: "\e829";
}

.icon-camera:before {
  content: "\e6e7";
}

.icon-heart-outline:before {
  content: "\e620";
}

.icon-food:before {
  content: "\e615";
}

.icon-shield-lock-outline:before {
  content: "\e7d7";
}

.icon-comment-text-outline:before {
  content: "\f682";
}

.icon-chevron-down:before {
  content: "\e71b";
}

.icon-thumb-up-outline:before {
  content: "\e9a4";
}

.icon-thumb-down-outline:before {
  content: "\e916";
}

.icon-cog-outline:before {
  content: "\e60c";
}

.icon-window-open-variant:before {
  content: "\f16b";
}

.icon-store:before {
  content: "\e61d";
}

.icon-logout:before {
  content: "\e651";
}

.icon-account:before {
  content: "\e604";
}

.icon-send:before {
  content: "\e6d5";
}

.icon-delete:before {
  content: "\e614";
}

.icon-edit:before {
  content: "\e9da";
}

