@font-face {
  font-family: "iconfont"; /* Project id 5089498 */
  src: url('/static/font/iconfont.woff2?t=1765804518326') format('woff2'),
       url('/static/font/iconfont.woff?t=1765804518326') format('woff'),
       url('/static/font/iconfont.ttf?t=1765804518326') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e604";
}

.icon-send:before {
  content: "\e6d5";
}

.icon-delete:before {
  content: "\e614";
}

.icon-edit:before {
  content: "\e9da";
}

