# .npmrc

# ==== pnpm 核心配置 ====
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

# ==== 提升模式 ====
public-hoist-pattern[]=@vue/*
public-hoist-pattern[]=@dcloudio/*
public-hoist-pattern[]=pinia
public-hoist-pattern[]=dayjs
public-hoist-pattern[]=vue-i18n
public-hoist-pattern[]=sass
public-hoist-pattern[]=sass-loader

# ==== 镜像源 ====
registry=https://registry.npmmirror.com

# ==== 其他配置 ====
enable-pre-post-scripts=true
lockfile=true
